<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Error</title>
  <link rel="stylesheet" th:href="@{/css/css.css}">
</head>
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="inactive underlineHover"><a href="/">HOME</a></h2>
    <h2 class="inactive underlineHover" th:if="${#request.userPrincipal == null}"><a href="/login">Sign
      In</a></h2>
    <h2 class="inactive underlineHover" th:if="${#request.userPrincipal == null}"><a href="/signup">Sign
      Up</a></h2>
    <h2 class="inactive underlineHover" th:if="${#request.userPrincipal != null}"><a href="/user">User</a></h2>
    <h2 class="inactive underlineHover" th:if="${#request.userPrincipal != null}"><a href="/logout">Log
      Out</a></h2>
    <h1 style="color: red">You cannot access this page!!</h1>

    <div id="formFooter">
      Hi, <span th:text="${#request.userPrincipal.getName()}" th:if="${#request.userPrincipal != null}"></span>
      <span th:if="${#request.userPrincipal == null}">Guest</span> !
    </div>

  </div>
</div>
</body>
</html>